@use '../../style/fonts';
@use '../../style/colors';
@use '../../style/size';

.modal {
    pointer-events: none;

    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    padding: size.gap(5) 0;

    &__wrap {
        pointer-events: all;    

        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        height: 100%;

        transition: height .6s 0s;

        &--hidden {
            overflow: hidden;
            height: 0;
        }
    }

    &__form {
        pointer-events: none;

        display: flex;
        flex-direction: column;
        justify-content: center;

        box-sizing: border-box;
        height: 100%;

        transition: height .6s 0s;

        &--hidden {
            overflow: hidden;
            height: 0;
        }
    }

    &__content {
        height: 100%;

        &--form {
            pointer-events: all;
        }
    }
}


.list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &__item {
        padding: 0;
    }

    &__btn {
        cursor: pointer;

        display: grid;
        grid-template-columns: 1fr 80px 1fr;
        gap: size.gap(3);
        justify-content: space-between;

        width: 100%;
        padding: size.gap(1) 0;
        border: none;

        text-align: left;

        background-color: transparent;

        @include fonts.family;
        @include fonts.big-text;
    }

    &__symbol {
        font-weight: 900;
    }

    &__percent {
        justify-self: center;

        &--red {
            color: colors.$red;
        }

        &--green {
            color: colors.$green;

            &::before {
                content: '+';
            }
        }
    }

    &__price {
        justify-self: end;

        &::before {
            content: '$';
        }
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: size.gap(5);

    &__title {
        grid-column: 2 span;
    }

    &__input {
        grid-column: 2 span;
    }

    &__error {
        grid-column: 2 span;
        justify-self: self-start;
    }
}