@use '../../style/size';

.header {
    padding: size.gap(5) 0;
}

.container {
    position: relative;
    display: flex;
    gap: size.gap(5);
    justify-content: center;
}

.wrap {
    pointer-events: none;

    position: fixed;
    bottom: size.gap(5);
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    pointer-events: all;
}