@use '../../style/size';
@use '../../style/media';

.header {
    padding: size.gap(5) 0;
}

.container {
    position: relative;
    display: flex;
    gap: size.gap(5);
    justify-content: center;
}

.wrap {
    pointer-events: none;

    position: fixed;
    bottom: size.gap(5);
    left: 50%;
    transform: translateX(-50%);

    box-sizing: border-box;
    width: 100%;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: size.gap(5);
    align-items: center;

    width: 100%;
}

.btn {
    pointer-events: all;

    &:nth-child(1) {
        justify-self: self-start;
    }

    &:nth-child(2) {
        justify-self: center;

        @include media.tablet {
            justify-self: end;
        }
    }
}