@use 'media';

@function gap($n: 1) {
    @return 4px * $n;
}

@mixin container {
    max-width: 1520px;
    margin-right: auto;
    margin-left: auto;
    padding-right: gap(10);
    padding-left: gap(10);

    @include media.tablet {
        padding-right: gap(5);
        padding-left: gap(5);
    }
}