@use 'colors';
@use 'fonts';
@use 'size';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: colors.$text;

    background-color: colors.$bg;
    
    @include fonts.family;
    @include fonts.text;
}

#root {
    display: grid;
    grid-template-rows: min-content 1fr 200px;
    min-height: 100vh;
}