@use '../../style/views';

.title {
    @include views.visible-hidden;
}

.loading {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

.section {
    height: 100%;
}

.container {
    overflow: auto;
    height: 100%;
}