@use '../../style/fonts';
@use '../../style/colors';
@use '../../style/size';

.btn {
    @include fonts.family;
    @include fonts.big-text;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: size.gap(2) size.gap(4);
    border: none;
    border-radius: 20px;

    color: colors.$text;
    text-align: center;
    text-decoration: none;

    background-color: colors.$action;

    transition:  
        background-color .6s 0s;

    &--circle {
        aspect-ratio: 1 / 1;
        min-width: 140px;
        max-width: 180px;
        border-radius: 10000px;

        text-align: center;
    }

    &:hover,
    &:focus {
        background-color: colors.$hover;
    }
    
    &:active {
        background-color: colors.$active;
    }
}